In [1]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv('jobs_scraped.csv')

In [63]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [64]:
df['Job Title'].value_counts()

Data Scientist                       178
Data Engineer                         68
Senior Data Scientist                 42
Data Analyst                          18
Senior Data Engineer                  17
                                    ...
Data Science Intern                    1
Environmental Scientist                1
Environmental Data Specialist          1
Data & Analytics Consultant (NYC)      1
Machine Learning Engineer (NLP)        1
Name: Job Title, Length: 328, dtype: int64

In [65]:
def isIntern(job_title):
    if 'intern' in job_title.lower():
        return 1
    else:
        return 0

In [66]:
df['Internship'] = df['Job Title'].apply(isIntern)

In [67]:
df['Job Title'].value_counts()

Data Scientist                       178
Data Engineer                         68
Senior Data Scientist                 42
Data Analyst                          18
Senior Data Engineer                  17
                                    ...
Data Science Intern                    1
Environmental Scientist                1
Environmental Data Specialist          1
Data & Analytics Consultant (NYC)      1
Machine Learning Engineer (NLP)        1
Name: Job Title, Length: 328, dtype: int64

In [68]:
df['Internship'].value_counts()

0    952
1      4
Name: Internship, dtype: int64

In [69]:
df = df[df['Internship'] == 0]

In [70]:
df.drop(columns = ['Internship'], axis = 1, inplace = True)

In [6]:
df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
df.drop(["a"], axis=1, inplace=True)

In [72]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,Data Engineer,-1,Loading...\r\n\r\nTitle: Data Engineer\r\n\r\n...,4.8,IGNW\r\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [73]:
def jobs(job_title):
    if ('data scientist' in job_title.lower() or 'data science' in job_title.lower()):
        return 'Data Scientist'
    elif ('data engineer' in job_title.lower() or 'data engineering' in job_title.lower()):
        return  'Data Engineer'
    elif ('data analyst' in job_title.lower() or 'data analysis' in job_title.lower() or 'analytics' in job_title.lower()):
        return 'Data Analyst'
    else:
        return 'Other'

In [74]:
df['Job Title'] = df['Job Title'].apply(jobs)

In [75]:
df['Job Title'].value_counts()

Data Scientist    398
Other             260
Data Engineer     157
Data Analyst      137
Name: Job Title, dtype: int64

In [76]:
df = df[df['Salary Estimate'] != '-1']

In [77]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/1609884496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [78]:
df['Salary Estimate']

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 740, dtype: object

In [79]:
df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('K','').replace('$',''))

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/546589192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(lambda x : x.replace('K','').replace('$',''))

In [90]:
def provided_salary(salary):
    if 'Employer Provided Salary' in salary:
        s = salary.split(':')[1] + "-" + salary.split(':')[1]
        return s
    else:
        return salary

In [92]:
df['Salary Estimate'] = df['Salary Estimate'].apply(provided_salary)

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/3393516882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(provided_salary)

In [98]:
def per_hour(salary):
    if'per hour' in salary.lower():
        s = salary.split(' ')[0] + "-" + salary.split(' ')[0]
        return s
    else:
        return salary

In [99]:
df['Salary Estimate'] = df['Salary Estimate'].apply(per_hour)

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/2848126418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = df['Salary Estimate'].apply(per_hour)

In [100]:
df['Min Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split('-')[0]))
df['Max Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split('-')[1]))
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/2

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/3722328130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Min Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split('-')[0]))
C:\Users\acer\AppData\Local\Temp/ipykernel_2388/3722328130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Max Salary'] = df['Salary Estimate'].apply(lambda x:int(x.split('-')[1]))
C:\Users\acer\AppData\Local\Temp/ipykernel_2388/3722328130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/2

In [103]:
df.drop(columns = ['Salary Estimate'], axis = 1, inplace = True)

c:\users\acer\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [105]:
df.Location = df.Location.apply(lambda x: x.split(',')[1].strip())

c:\users\acer\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [122]:
df['Company Name new'] = df.apply(lambda x : x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-2], axis = 1)

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/1217459022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name new'] = df.apply(lambda x : x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-2], axis = 1)

In [124]:
df['Company Name'] = df['Company Name new']
df.drop(columns = ['Company Name new'], axis = 1, inplace  = True)

C:\Users\acer\AppData\Local\Temp/ipykernel_2388/1515672997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name'] = df['Company Name new']
c:\users\acer\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [126]:
df.Size.value_counts()

1001 to 5000 employees     150
501 to 1000 employees      134
10000+ employees           128
201 to 500 employees       117
51 to 200 employees         94
5001 to 10000 employees     76
1 to 50 employees           31
Unknown                      9
-1                           1
Name: Size, dtype: int64

In [127]:
df

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary
0,Data Scientist,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research,NM,"Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53,91,72.0
1,Data Scientist,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System,MD,"Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63,112,87.5
2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,FL,"Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80,90,85.0
3,Data Scientist,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL,WA,"Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56,97,76.5
4,Data Scientist,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions,NY,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86,143,114.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,Other,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK,MA,"Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",58,111,84.5
951,Data Engineer,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite,TN,"San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",72,133,102.5
952,Other,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,PA,"Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,56,91,73.5
953,Data Scientist,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC",PA,"Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,95,160,127.5
955,Other,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,OH,"Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,61,126,93.5

In [129]:
df.to_csv("jobs_cleaned_checkpoint")

In [4]:
df = pd.read_csv("jobs_cleaned_checkpoint.csv")

In [7]:
df

AttributeError: 'DataFrame' object has no attribute 'Reveue'

In [11]:
df["Type of ownership"].value_counts()

Company - Private                 408
Company - Public                  193
Nonprofit Organization             55
Subsidiary or Business Segment     34
Government                         15
Hospital                           15
College / University               13
Other Organization                  3
School / School District            2
Unknown                             1
-1                                  1
Name: Type of ownership, dtype: int64

In [15]:
df = df[df['Type of ownership'] != '-1']

In [16]:
df = df[df['Type of ownership'] != 'Unknown']

In [48]:
tools = ["python","java","matlab","excel","hadoop","spark","sql","nosql","r studio","pandas","numpy","aws","keras","scikit","natural language processesing","neural network","power bi","tableau","scala","beautifulsoup","selenium","linux","matplotlib","jupyter","pycharm"]

In [52]:
def tool(description):
    s = ""
    for item in tools:
        if item in description.lower():
            s = s + item + ","
    return s.strip(',')

In [53]:
df['Tools'] = df['Job Description'].apply(tool)

In [54]:
df['Tools']

0        python,matlab,excel,power bi,tableau
1                                 python,java
2           python,excel,spark,sql,matplotlib
3                                      python
4                            python,excel,sql
                        ...
735                                       aws
736    python,java,hadoop,spark,sql,aws,scala
737                                     excel
738                                     excel
739                                    python
Name: Tools, Length: 738, dtype: object

In [57]:
skills = ["visualization","engineering","warehousing","scraping","collection","analysis","predict","modeling","dashboarding"]
def skill(description):
    s = ""
    for item in skills:
        if item in description.lower():
            s = s + item + ","
    return s.strip(',')
df['Skills'] = df['Job Description'].apply(skill)

In [58]:
df['Skills']

0          visualization,engineering,collection,analysis
1      visualization,engineering,analysis,predict,mod...
2      visualization,engineering,collection,analysis,...
3                  engineering,analysis,predict,modeling
4                                      analysis,modeling
                             ...
735
736            engineering,warehousing,analysis,modeling
737                                     predict,modeling
738                       visualization,predict,modeling
739
Name: Skills, Length: 738, dtype: object

In [60]:
df['Headquarters'] = df['Headquarters'].apply(lambda x: x.split(',')[1])

In [71]:
df.Revenue.value_counts()

Unknown / Non-Applicable            203
$10+ billion (USD)                  122
$100 to $500 million (USD)           91
$1 to $2 billion (USD)               60
$500 million to $1 billion (USD)     57
                                   ...
$10 to $25 million (USD)             32
$5 to $10 billion (USD)              19
$5 to $10 million (USD)              18
$1 to $5 million (USD)                8
Less than $1 million (USD)            4
Name: Revenue, Length: 13, dtype: int64

In [68]:
company_size

['1001 to 5000 employees',
 '501 to 1000 employees',
 '10000+ employees',
 '201 to 500 employees',
 '51 to 200 employees',
 '5001 to 10000 employees',
 '1 to 50 employees',
 'Unknown']

In [72]:
df.to_csv("jobs_cleaned.csv",index = False)